<section>
	<div class="hero">
		<div class="hero-inner">
			<div class="hero-logo"><h1>UltiTeam</h1></div>
			<div class="hero-copy">
				<h2>The Ultimate Team Management App</h2>
				<p>Easy, effective tools to manage your team and keep your focus on the field</p>
			</div>
			<button>Learn More</button>
		</div>
	</div>

	<ul class="bullets">
		<li class="bullet three-col-bullet">
			<div class="bullet-icon bullet-icon-1">
				<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>This Bullet Title</h2>
	      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
	      </div>
	  </li>  
	  <li class="bullet three-col-bullet">
	    <div class="bullet-icon bullet-icon-2">
	      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>Another Bullet Title</h2>
	      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
	    </div>
	  </li>
	  <li class="bullet three-col-bullet">
	    <div class="bullet-icon bullet-icon-3">
	      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>Last Bullet Title</h2>
	      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
	    </div>
	  </li> 
	</ul>

	<div class="hero">
		<div class="hero-inner">
		</div>
	</div>

	<div class="browsers">
		<div class="browser">
			<div class="browser-top-bar">
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
			</div>
			<div class="browser-content"></div>
		</div>
		<div class="browser">
			<div class="browser-top-bar">
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
			</div>
			<div class="browser-content"></div>
		</div>
		<div class="browser">
			<div class="browser-top-bar">
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
				<div class="browser-circle"></div>
			</div>
			<div class="browser-content"></div>
		</div>
	</div>

	<div class="cover"></div>
</section>