<div class="landing-page wrapper">
	<div class="masthead">
		<div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">
			<div class="carousel-inner">
				<div class="item active field-at-dusk">
					<br class="xs-30">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-6 masthead-text animated fadeInDownBig">
								<h4 class="masthead-title">When you show up to the field, your focus should be on the game.</h4>

								<p>You shouldn't be worrying about which teammates will show up. Ulti Team makes managing 
										your team easy, so your focus can be where it's meant to be: on winning.</p>

								<div class="masthead-actions">
									<a href="#" class="btn btn-transparent btn-jumbo">Learn More</a>

									<%= link_to 'Create an Account', new_user_registration_path, class: "btn btn-primary btn-jumbo" %>
								</div>
							</div>
							<br class="xs-30">
						</div>
					</div> 
				</div> <!-- ENDOF field-at-dusk -->
			</div>

			<div class="container">
				<div class="carousel-controls">
					<a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<section id="section-features" class="home-section">
			<br class="xs-30">
			<div class="container">
				<div class="heading-block heading-minimal heading-center">
					<h1>Team Management Made Simple</h1>
				</div>

				<div class="feature-lg">
					<div class="row">
						<div class="col-sm-6">
							<figure class="feature-figure"><img src="http://placehold.it/570x360" class="img-responsive figure-shadow center-block" alt=""></figure>
						</div>

						<div class="col-sm-6">
							<br class="xs-30">
							<div class="feature-content">
								<h3>Create Games, Practices and Bar Nights</h3>
								<p class="lead">Never worry about playing savage again.</p>
								<p>We make it easy for you to say if you're in or out for upcoming events.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="feature-lg figure-right">
					<div class="row">
						<div class="col-sm-6 col-sm-push-6">
							<figure class="feature-figure"><img src="http://placehold.it/570x360" class="img-responsive figure-shadow center-block" alt=""></figure>
						</div>

						<div class="col-sm-6 col-sm-pull-6">
							<br class="xs-30">
							<div class="feature-content">
								<h3>Track payments on Team Dues, Jerseys and Whatever else you need</h3>
								<p class="lead">Manage your teams money stress-free</p>
								<p>Create a payment and automatically alert teammates that money is due. Send reminders easily.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<footer class="landing-page footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="heading-block">
					<h4>Keep In Touch</h4>
				</div>

				<ul class="icons-list">
					<li>
						<i class="icon-li fa fa-home"></i>
						Salem, MA 01970
					</li>
					<li>
						<i class="icon-li fa fa-envelope"></i>
						info@ultiteam.io
					</li>
				</ul>
			</div>

			<div class="col-sm-4">
				<div class="heading-block">
					<h4>Connect</h4>
				</div>

				<ul class="icons-list">
					<li>
						<i class="icon-li fa fa-facebook"></i>
						Facebook
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
