<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h3><%= @team_roster.name %></h3>

		<ul class="list-unstyled text-center">
			<% @team_roster.rosters.includes(:user).each do |roster| %>
			<li><%= roster.user.full_name %></li>
			<% end %>
		</ul>
	</div>
</div>